* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF5FC;
    
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    
}
.card-body{
    text-align: justify;
    background-color:#F2F1F1;
}
.card {

    height: 500px;
    width: 500px;
   
    font-family: Arial;
}
.form-group{
    width: 1000px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}   
