* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF5FC;
    
}

.navbar-title{
    color: #001b58 !important
}

.submit-btn {
    width: 25%;
    background-color: #5783e8;
    border:0
}

.submit-btn:hover{
    background-color: #678ee9
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    min-height: 80vh;
    
}
.card-body{
    text-align: justify;
    background-color:#F2F1F1;
}
.card {

    height: 500px;
    width: 500px;
   
    font-family: Arial;
}
.form-group{
    width: 1000px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}   
.mask {
    height: 100%;
    overflow-y: auto; /* vertical scroll if needed */
}
.alert_message_error,
.success-message {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
}

.alert_message_error {
    
    color: #721c24;
}

.success-message,h4{
    
    color: #155724;
}
.alert_message {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.error {
    color: red;
}
.error-message{
    color: red;
}
.success-message{
    color: #155724;
}
